.web{
    background-color: rgb(161, 98, 109);
    color: white;
}
.asp{
    background-color: rgb(233, 163, 71);
    color: white;
}
.php{
    background-color: rgb(129, 203, 65);
    color: white;
}
.jsp{
    background-color: rgb(26, 88, 26);
    color: white;
}
.html{
    background-color: rgb(145, 111, 197);
    color: white;
}
.pagina{
    background-color: rgb(194, 130, 169);
    color: white;
}
.javascript{
    background-color: rgb(232, 92, 92);
    color: white;
}
.lenguaje{
    background-color: rgb(204, 97, 115);
    color: white;
}
.aspnet{
    background-color: rgb(144, 43, 75);
    color: white;
}
.python{
    background-color: lightblue;
    color: white;
}
.ruby{
    background-color: pink;
    color: white;
}
.jspjs{
    background-color: brown;
    color: white;
}